# The loopback network interface
auto lo
iface lo inet loopback

# The external network bridge interface
auto {{ external_network_adapter }}
iface {{ external_network_adapter }} inet manual

# The internal network interface
auto {{ internal_network_adapter }}
iface {{ internal_network_adapter }} inet manual

# The internal bridged network interface
auto br1
iface br1 inet static
        address         {{ network_segment }}.{{ internal_machine_subnet }}.{{ internal_ip_address }}
        network         {{ network_segment }}.{{ internal_machine_subnet }}.0
        netmask         255.255.255.0
        broadcast       {{ network_segment }}.{{ internal_machine_subnet }}.255
        dns-nameservers {{ internal_dns_server}}
        bridge_ports    {{ internal_network_adapter }}
        bridge_fd       9
        bridge_hello    2
        bridge_maxage   12
        bridge_stp      off

# The external bridged network interface
auto br0
iface br0 inet static
        address         {{ network_segment }}.{{ external_machine_subnet }}.{{ external_ip_address }}
        netmask         255.255.255.0
        network         {{ network_segment }}.{{ external_machine_subnet }}.0
        broadcast       {{ network_segment }}.{{ external_machine_subnet }}.255
        gateway         {{ network_segment }}.{{ external_machine_subnet }}.1
        # dns-* options are implemented by the resolvconf package, if installed
        dns-nameservers {{ internal_dns_server}} 8.8.8.8 8.8.4.4
        bridge_ports    {{ external_network_adapter }}
        bridge_fd       9
        bridge_hello    2
        bridge_maxage   12
        bridge_stp      off
