# This file is generated from information provided by
# the datasource.  Changes to it will not persist across an instance.
# To disable cloud-init's network configuration capabilities, write a file
# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg with the following:
# network: {config: disabled}

network:
  version: 2
  renderer: networkd
  ethernets:
    {{ network_interface }}:
      dhcp4: {{ dhcp_option }}
      dhcp6: no
      addresses:
        - {{ ip_address }}/{{ mask_bit }}
      routes:
        - to: default
          via: {{ gateway_address }}
      nameservers:
        addresses:
          - {{ dns_address }}